HTML {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
    overflow: hidden;
}
BODY {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
    BACKGROUND-COLOR: #ffffff;
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;

}
.content {
    PADDING: 12px;
    MARGIN-TOP: 1px;  MARGIN-BOTTOM:0px;
    MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px;
    BORDER-COLOR: #000000;
    BORDER-TOP: 0px;
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 1px;
    BORDER-RIGHT: 1px;
}

H1 {
    FONT-SIZE: 30pt; MARGIN: 0px;
    FONT-FAMILY: Optima, "Lucida Grande",Sans-serif;
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 1em;
}
H2 {
    PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; FONT-SIZE: 16pt;
    PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.1em;
FONT-FAMILY: Optima, "Lucida Grande",Sans-serif;
    TEXT-ALIGN: center;
}

A { text-decoration: none; color:#225 }
A:hover { text-decoration: underline; color:#222 }

.chorusdiv { position: absolute; margin: auto; display:table }
.verse { position: absolute;  margin: 0px auto; display:table; }
.bridge { position: absolute; margin: 0px auto; font-style:
italic }
.line { font-size: 40pt; font-weight: bold; margin-right: 20px;
FONT-FAMILY: Arial; color: #007;
padding:10px;line-height:150% }
.sup { font-size: 40%; position:absolute;top:-1em; 
text-align: center; display:block;
FONT-FAMILY: Optima, "Lucida Grande",Sans-serif;
}
.partnum { visibility: hidden }
